.card {
  width: 323px;
  border: 1px;
  height: 328px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
  width: 100px;
  cursor: pointer;
}
