.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  /* Ensures footer stays at bottom even with little content */
  flex: 1;
  display: flex;
  flex-direction: column;
}
