.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  justify-content: flex-start; /* Align to left */
}

@media screen and (max-width: 768px) {
  .cards__list {
    gap: 16px;
    justify-content: center; /* Center on mobile */
  }
}
