.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  justify-content: flex-start; /* Align to left */
  
}

@media screen and (max-width: 768px) {
  .cards__list {
    gap: 16px;
    justify-content: center; /* Center on mobile */
  }
}
